.form--login,
.link--register {
    text-align: center;
}

fieldset {
    margin: 0 27em;
    padding: .3rem;
    border: none;
}

.form-control-md {
    padding: 0;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.form-control-md::placeholder {
    font-size: 14px;
    text-align: center;
}

label {
    font-size: 12px;
}

h1,
h5 {
    font-weight: bold;
}

.signIn,
.register {
    border: none;
}

.container--login {
    background-color: #2F575D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.container--login a {
    color: white;
}